<h1>Think carefully, what do you want to say to your Stupid Coach</h1>
<p> They may be the last words you ever say"<p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Choose Wisely">
  <input type="submit" value="Talk to your Coach!">
</form>
